body {
    background-color: #ffffff;
     }
    
#presentacion {
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;

    background-image: url(imagenes/Fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-lila, .text-bg-lila{
    color: #f1a3c7;
}

.btn-lila {
    background-color: #f1a3c7;
    color: white; 
}

.btn-lila:hover {
    background-color: #B682B6;
}

.proyecto {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#proyecto-1{
    background-image: url("imagenes/ClonGoogle.png");
}

#proyecto-2{
    background-image: url("imagenes/paginaagave.png");
}

#proyecto-3{
    background-image: url("imagenes/Juegosecreto.png");
}